main {
  font-size: clamp(14px, 1.5vw, 16px);
  padding: 32px 24px;
  margin: 0 auto;
}

.cancel {
  padding: 12px 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.person {
  display: flex;
  flex-flow: column;
  gap: 32px;
  margin-top: 32px;
}
.person .photo {
  margin: 0 auto;
}
.person .photo img {
  width: 192px;
  height: 192px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2563EB;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.25);
}
.person .name {
  display: flex;
  flex-flow: column;
  gap: 14px;
  text-align: center;
}
.person .name h1 {
  color: #3B82F6;
  font-size: 36px;
}
.person .name h4 {
  color: #4B5563;
  font-size: 20px;
}
.person .main-info {
  padding: 32px;
  border-radius: 12px;
  border: 0 solid #E5E7EB;
  background: #F9FAFB;
  width: 80vw;
}
.person .main-info h2 {
  color: #3B82F6;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.person .main-info ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 0;
  margin: 24px 0 0 0;
  list-style: none;
}
.person .main-info ul li h4 {
  color: #111827;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.person .main-info ul li h6 {
  color: #4B5563;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.person .contact {
  border: 1px solid #E5E7EB;
  background-color: #fff;
}
.person .contact ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.person .contact p {
  color: #4B5563;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
}
.person .olimpiad ul {
  display: grid;
  grid-template-columns: 1fr;
}
.person .olimpiad ul li {
  padding-left: 20px;
  border-left: 4px solid #3B82F6;
}

@media (max-width: 768px) {
  .main-info ul {
    grid-template-columns: 1fr !important;
  }
  main {
    font-size: clamp(14px, 1.5vw, 16px);
    padding: 16px 12px;
    margin: 0 auto;
  }
  .cancel {
    padding: 8px 12px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  .person {
    display: flex;
    flex-flow: column;
    gap: 16px;
    margin-top: 32px;
  }
  .person .photo {
    margin: 0 auto;
  }
  .person .photo img {
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2563EB;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.25);
  }
  .person .name {
    display: flex;
    flex-flow: column;
    gap: 14px;
    text-align: center;
  }
  .person .name h1 {
    color: #3B82F6;
    font-size: 24px;
  }
  .person .name h4 {
    color: #4B5563;
    font-size: 16px;
  }
  .person .main-info {
    padding: 12px;
    border-radius: 12px;
    background: #F9FAFB;
    width: 100%;
  }
  .person .main-info h2 {
    color: #3B82F6;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .person .main-info ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 0;
    margin: 12px 0 0 0;
    list-style: none;
  }
  .person .main-info ul li h4 {
    color: #111827;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  .person .main-info ul li h6 {
    color: #4B5563;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .person .contact {
    border: 1px solid #E5E7EB;
    background-color: #fff;
  }
  .person .contact ul li {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .person .contact p {
    color: #4B5563;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
  }
  .person .olimpiad ul {
    display: grid;
    grid-template-columns: 1fr;
  }
  .person .olimpiad ul li {
    padding-left: 20px;
    border-left: 4px solid #3B82F6;
  }
}

/*# sourceMappingURL=person.css.map */
